{% extends '../../_layouts/master.html' %}

{% set title = 'Font Size' %}

{% block content %}

  <section class="section  rel  pa5">
    <header class="mb5">
      <h1 class="t6  fw7  lh-title  mb3">{{title}}</h1>
      <p class="measure-wide  t5  fw3  lh-copy  mb0">Some introduction to font size here.</p>
    </header>

    <div class="w-100  mw5  pa4  mb5  bg-almost-white">
      {% set code = '<h1 class="measure  t1  lh-title  mb5">...</h1>' %}
      <pre class="ma0"><code class="measure-wide  db  mono  t8  lh-title  grey  language-html">{{code|e}}</code></pre>
    </div>

    {% for i in 1..6 %}
      <h1 class="measure  t{{i}}  lh-title  mb5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</h1>
    {% endfor %}
  </section>

{% endblock %}
